<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	<style>
		#map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
	</style>
</head>
<body>
	<div id = "map"></div>
	 <script type="text/javascript"
         src="{{ url_for('static', filename='leaflet-heat.js') }}"></script>
	<script>
		var map = L.map('map').setView([25, 67], 10)
		L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=f41UaWsFoH5dOEU2Qhrt', {
			attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a>
									  <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
		}).addTo(map);
		var heat = L.heatLayer({{ results }}, {radius: 30}).addTo(map);
		
	</script>
</body>
</html>
